.careers-page{

background:#f7f8fa;

min-height:100vh;

padding-bottom:80px;

}

.careers-page .container{

margin-top:70px;

}

@media(max-width:992px){

.careers-page .container{

margin-top:50px;

}

}